<html>
    <head>
        <title>New Message</title>
    </head>
    <body>
        <form method="POST" action="/new">
            <div class="message-form">
                <label for="user">Your Name:</label>
                <input type="text" name="user" required/>
            </div>
            <div class="message-form">
                <label for="text">Message Text:</label>
                <input type="text" name="text" required/>
            </div>
            <button class="message-submit">Submit</button>
        </form>
        <%- include('footer') %>
    </body>
</html>

